<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>Class TimeCheer\Weixin\API\MP\Component | WeixinSDK</title>

	<link rel="stylesheet" href="resources/style.css?e99947befd7bf673c6b43ff75e9e0f170c88a60e">

</head>

<body>
<div id="left">
	<div id="menu">
		<a href="index.html" title="Overview"><span>Overview</span></a>


		<div id="groups">
				<h3>Namespaces</h3>
			<ul>
				<li class="active">
					<a href="namespace-TimeCheer.html">
						TimeCheer<span></span>
					</a>

						<ul>
				<li class="active">
					<a href="namespace-TimeCheer.Weixin.html">
						Weixin<span></span>
					</a>

						<ul>
				<li class="active">
					<a href="namespace-TimeCheer.Weixin.API.html">
						API<span></span>
					</a>

						<ul>
				<li class="active">
					<a href="namespace-TimeCheer.Weixin.API.MP.html">
						MP					</a>

						</li>
				<li>
					<a href="namespace-TimeCheer.Weixin.API.SNS.html">
						SNS					</a>

						</li>
							</ul></li>
				<li>
					<a href="namespace-TimeCheer.Weixin.Open.html">
						Open					</a>

						</li>
				<li>
					<a href="namespace-TimeCheer.Weixin.QY.html">
						QY					</a>

						</li>
				<li>
					<a href="namespace-TimeCheer.Weixin.QYAPI.html">
						QYAPI<span></span>
					</a>

						<ul>
				<li>
					<a href="namespace-TimeCheer.Weixin.QYAPI.Crypt.html">
						Crypt					</a>

						</li>
							</ul></li>
				<li>
					<a href="namespace-TimeCheer.Weixin.Util.html">
						Util					</a>

						</li>
							</ul></li></ul></li>
			</ul>
		</div>

		<hr>


		<div id="elements">
			<h3>Classes</h3>
			<ul>
				<li><a href="class-TimeCheer.Weixin.API.MP.AccessToken.html">AccessToken</a></li>
				<li><a href="class-TimeCheer.Weixin.API.MP.AutoReply.html">AutoReply</a></li>
				<li><a href="class-TimeCheer.Weixin.API.MP.Base.html">Base</a></li>
				<li class="active"><a href="class-TimeCheer.Weixin.API.MP.Component.html">Component</a></li>
				<li><a href="class-TimeCheer.Weixin.API.MP.Kefu.html">Kefu</a></li>
				<li><a href="class-TimeCheer.Weixin.API.MP.Mass.html">Mass</a></li>
				<li><a href="class-TimeCheer.Weixin.API.MP.Material.html">Material</a></li>
				<li><a href="class-TimeCheer.Weixin.API.MP.Menu.html">Menu</a></li>
				<li><a href="class-TimeCheer.Weixin.API.MP.Message.html">Message</a></li>
				<li><a href="class-TimeCheer.Weixin.API.MP.TemplateMessage.html">TemplateMessage</a></li>
				<li><a href="class-TimeCheer.Weixin.API.MP.User.html">User</a></li>
				<li><a href="class-TimeCheer.Weixin.API.MP.UserGroup.html">UserGroup</a></li>
			</ul>





		</div>
	</div>
</div>

<div id="splitter"></div>

<div id="right">
<div id="rightInner">
	<form id="search">
		<input type="hidden" name="cx" value="">
		<input type="hidden" name="ie" value="UTF-8">
		<input type="text" name="q" class="text" placeholder="Search">
	</form>

	<div id="navigation">
		<ul>
			<li>
				<a href="index.html" title="Overview"><span>Overview</span></a>
			</li>
			<li>
				<a href="namespace-TimeCheer.Weixin.API.MP.html" title="Summary of TimeCheer\Weixin\API\MP"><span>Namespace</span></a>
			</li>
			<li class="active">
<span>Class</span>			</li>
		</ul>
		<ul>
			<li>
				<a href="tree.html" title="Tree view of classes, interfaces, traits and exceptions"><span>Tree</span></a>
			</li>
		</ul>
		<ul>
		</ul>
	</div>

<div id="content" class="class">
	<h1>Class Component</h1>


	<div class="description">
	<p>第三方平台相关操作和接口</p>
	</div>

	<dl class="tree">
		<dd style="padding-left:0px">
			<a href="class-TimeCheer.Weixin.Base.html"><span>TimeCheer\Weixin\Base</span></a>
			
			
			
		</dd>
		<dd style="padding-left:30px">
			<img src="resources/inherit.png" alt="Extended by">
			<a href="class-TimeCheer.Weixin.API.MP.Base.html"><span>TimeCheer\Weixin\API\MP\Base</span></a>
			
			
			
		</dd>
		<dd style="padding-left:60px">
			<img src="resources/inherit.png" alt="Extended by">
<b><span>TimeCheer\Weixin\API\MP\Component</span></b>			
			
			
		</dd>
	</dl>








	<div class="info">
		
		
		<b>Namespace:</b> <a href="namespace-TimeCheer.html">TimeCheer</a>\<a href="namespace-TimeCheer.Weixin.html">Weixin</a>\<a href="namespace-TimeCheer.Weixin.API.html">API</a>\<a href="namespace-TimeCheer.Weixin.API.MP.html">MP</a><br>
		

			<b>Located at</b> <a href="source-class-TimeCheer.Weixin.API.MP.Component.html#5-19" title="Go to source code">src/TimeCheer/Weixin/API/MP/Component.php</a>
		<br>
	</div>



	<table class="summary methods" id="methods">
	<caption>Methods summary</caption>
	<tr data-order="__construct" id="___construct">

		<td class="attributes"><code>
			 public 

			
			
			</code>
		</td>

		<td class="name"><div>
		<a class="anchor" href="#___construct">#</a>
		<code><a href="source-class-TimeCheer.Weixin.API.MP.Component.html#12-14" title="Go to source code">__construct</a>( <span>string <var>$accessToken</var> = <span class="php-quote">''</span></span> )</code>

		<div class="description short">
			<p>构造函数、配置相关参数</p>
		</div>

		<div class="description detailed hidden">
			<p>构造函数、配置相关参数</p>


				<h4>Parameters</h4>
				<div class="list"><dl>
					<dt><var>$accessToken</var></dt>
					<dd>访问接口的$accessToken</dd>
				</dl></div>




				<h4>Overrides</h4>
				<div class="list"><code><a href="class-TimeCheer.Weixin.Base.html#___construct">TimeCheer\Weixin\Base::__construct()</a></code></div>

		</div>
		</div></td>
	</tr>
	<tr data-order="jumpToLoginPage" id="_jumpToLoginPage">

		<td class="attributes"><code>
			 public 

			
			
			</code>
		</td>

		<td class="name"><div>
		<a class="anchor" href="#_jumpToLoginPage">#</a>
		<code><a href="source-class-TimeCheer.Weixin.API.MP.Component.html#16-18" title="Go to source code">jumpToLoginPage</a>( )</code>

		<div class="description short">
			
		</div>

		<div class="description detailed hidden">
			







		</div>
		</div></td>
	</tr>
	</table>

	<table class="summary inherited">
	<caption>Methods inherited from <a href="class-TimeCheer.Weixin.Base.html#methods">TimeCheer\Weixin\Base</a></caption>
	<tr>
		<td><code>
			<a href="class-TimeCheer.Weixin.Base.html#_doGet">doGet()</a>, 
			<a href="class-TimeCheer.Weixin.Base.html#_doPost">doPost()</a>, 
			<a href="class-TimeCheer.Weixin.Base.html#_getErrorCode">getErrorCode()</a>, 
			<a href="class-TimeCheer.Weixin.Base.html#_getErrorMsg">getErrorMsg()</a>, 
			<a href="class-TimeCheer.Weixin.Base.html#_init">init()</a>, 
			<a href="class-TimeCheer.Weixin.Base.html#_setError">setError()</a>
		</code></td>
	</tr>
	</table>











	<table class="summary properties" id="properties">
	<caption>Properties summary</caption>
	<tr data-order="apiPrefix" id="$apiPrefix">
		<td class="attributes"><code>
			protected  
			string
		</code></td>

		<td class="name">
				<a href="source-class-TimeCheer.Weixin.API.MP.Component.html#10" title="Go to source code"><var>$apiPrefix</var></a>

			<div class="description short">
				<p>MP API URL PREFIX</p>
			</div>

			<div class="description detailed hidden">
				<p>MP API URL PREFIX</p>

			</div>
		</td>
		<td class="value">
			<div>
				<a href="#$apiPrefix" class="anchor">#</a>
				<code><span class="php-quote">'https://mp.weixin.qq.com/cgi-bin'</span></code>
			</div>
		</td>
	</tr>
	</table>

	<table class="summary inherited">
	<caption>Properties inherited from <a href="class-TimeCheer.Weixin.Base.html#properties">TimeCheer\Weixin\Base</a></caption>
	<tr>
		<td><code>
			<a href="class-TimeCheer.Weixin.Base.html#$accessToken"><var>$accessToken</var></a>, 
			<a href="class-TimeCheer.Weixin.Base.html#$errorCode"><var>$errorCode</var></a>, 
			<a href="class-TimeCheer.Weixin.Base.html#$errorMsg"><var>$errorMsg</var></a>
		</code></td>
	</tr>
	</table>





</div>

	<div id="footer">
		WeixinSDK API documentation generated by <a href="http://apigen.org">ApiGen</a>
	</div>
</div>
</div>
<script src="resources/combined.js"></script>
<script src="elementlist.js"></script>
</body>
</html>
